@model IEnumerable<RockyPixels.Models.Post>

@if (User.IsInRole("blog_admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PostIdSort"]">@Html.DisplayNameFor(model => model.PostId)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TopicSort"]">@Html.DisplayNameFor(model => model.Topic)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSort"]">@Html.DisplayNameFor(model => model.Author)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CreationDateSort"]">@Html.DisplayNameFor(model => model.CreatedOn)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ModificationSort"]">@Html.DisplayNameFor(model => model.LastModifiedOn)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CategorySort"]">@Html.DisplayNameFor(model => model.Category)</a>
            </th>
            <th>
                <span>Actions</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        var image = "";
                        if (item.ImageData == null && item.ImageId != null)
                        {
                            image = "img/no_image.png";
                        }
                        else
                        {
                            image = "img/no_id.png";
                        }

                        if (item.ImageData != null && item.ImageId != null) // Handle NullImg as missing image
                        {
                            var base64 = Convert.ToBase64String(item.ImageData);
                            image = String.Format("data:image/gif;base64,{0}", base64);
                        }
                    }
                    <img src="@image" alt="" class="img-thumbnail" style="width:50px;height:50px;object-fit: cover;">

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @if (User.IsInRole("blog_admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a><span> |</span>
                        <a asp-action="Details" asp-route-id="@item.PostId">Details</a><span> |</span>
                        <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.PostId">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (User.IsInRole("blog_admin"))
                        {
<form asp-action="DeleteAll">
    <input type="submit" value="Delete All" class="btn btn-danger" />
</form>
                        }