@model RockyPixels.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<style>
    .horizontal {
        list-style-type: none; /* Remove default list bullet points */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
        display: flex; /* Align items horizontally */
    }

    li {
        margin-right: 20px; /* Add space between list items */
    }
</style>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10" runat="server" id="detailsImage">
            <h5>Attachment</h5>
            @{
                var image = "";
                if (Model.ImageData == null && Model.ImageId != null)
                {
                    image = "../../img/no_image.png";
                }
                else
                {
                    image = "../../img/no_id.png";
                }
                if (Model.ImageData != null && Model.ImageId != null) // Handle NullImg as missing image
                {
                    var base64 = Convert.ToBase64String(Model.ImageData);
                    image = String.Format("data:image/gif;base64,{0}", base64);
                }
            }
            <img src="@image" alt="" class="img-fluid">
            <br />
            <hr />
        </dd>
        <br />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostTags)
        </dt>
        <dd class="col-sm-10">
            <ul class="horizontal">
                @foreach (var postTag in Model.PostTags)
                {
                    <li>@postTag.Tag.TagName</li>
                }
            </ul>
        </dd>
    </dl>
</div>

<h3>Comments:</h3>
<ul>
    @foreach (var comment in Model.Comments)
    {
        <li>
            <strong>@comment.Author</strong> (@comment.CreatedOn):
            <p>@comment.CommentContent</p>

            @if (comment.Author == ViewBag.CurrentUser || User.IsInRole("blog_admin"))
            {
                <form asp-action="DeleteComment" asp-route-commentId="@comment.CommentId" method="post" style="display:inline;">
                    @Html.AntiForgeryToken()  <!-- Prevent CSRF attacks -->
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            }
        </li>
    }
</ul>
<hr />
<h3>Add a Comment:</h3>

<form asp-action="AddComment" asp-route-postId="@Model.PostId" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="Content">Comment</label>
        <textarea id="Content" name="content" class="form-control" placeholder="Enter your comment here..."></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Post Comment</button>
</form>
<br />
@if (User.IsInRole("blog_admin"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.PostId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
