@model IEnumerable<RockyPixels.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageId)
                </td>
                <td>
                    @{
                        var image = "";
                        if (item.ImageData != null)
                        {
                            var base64 = Convert.ToBase64String(item.ImageData);
                            image = String.Format("data:image/gif;base64,{0}", base64);
                        }
                    }
                    <img src="@image" alt="" class="img-fluid" style="max-width:50px;max-height:50px">

                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ImageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-action="DeleteAll">
    <input type="submit" value="Delete All" class="btn btn-danger" />
</form>